<html>
    <head>
        {% if title %}
        <title>{{ title }} -  Colander</title>
        {% else %}
        <title>Colander</title>
        {% endif %}
    </head>
    <body>
    <div>
        {% if current_user.is_authenticated %}
        Welcome, {{ current_user.username }}
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('vendors') }}">Vendors</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Log In</a>
        {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>