{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<h1 class="text-center">Sign In</h1>
<hr>
<div class="row">
    <div class="col-3 mx-auto">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ macros.form_field(form.username) }}
                {{ macros.form_field(form.password) }}
            </div>
            {{ macros.form_check(form.remember_me) }}
            {{ macros.form_submit(form.submit) }}
        </form>
    </div>
</div>
{% endblock %}
