{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block base_content %}
    <div class="container mt-4" style="max-width: 576px;">
        <div class="row">
            <div class="col">
                {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endwith %}
                <p>
                    <h1 class="text-center">Sign In</h1>
                </p>
                <hr>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ macros.form_field(form.username) }}
                        {{ macros.form_field(form.password) }}
                    </div>
                    {{ macros.form_check(form.remember_me) }}
                    {{ macros.form_submit(form.submit) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
