{# Macros for rendering form controls. #}
{% macro form_field_basic(elem, prepend='', append='', add_class='', extra={}) %}
    {% do kwargs.update(extra) %}
    <div class="input-group">
        {%- if prepend -%}
            <div class="input-group-prepend">
                <span class="input-group-text">{{ prepend }}</span>
            </div>
        {%- endif %}
        {%- if elem.errors -%}
            {{ elem(class_='form-control is-invalid ' + add_class, **kwargs) }}
        {%- else -%}
            {{ elem(class_='form-control ' + add_class, **kwargs) }}
        {%- endif -%}
        {%  if append %}
            <div class="input-group-append">
                <span class="input-group-text">{{ append }}</span>
            </div>
        {% endif %}
        <div class="invalid-feedback">
            {% for error in elem.errors %}{{ error }}{% endfor %}
        </div>
    </div>
{% endmacro %}

{# Form field with label above #}
{% macro form_field(elem) -%}
    <div class="form-group">
        {{ elem.label }}
        {{ form_field_basic(elem, **kwargs) }}
    </div>
{%- endmacro %}


{# Inline field with placeholder instead of label #}
{% macro form_field_inline(elem) %}
    {{ form_field_basic(elem, placeholder=elem.label.text, **kwargs) }}
{% endmacro %}


{% macro form_check(elem, add_class='') -%}
    <div class="input-group">
        {% if elem.errors %}
            <div class="form-check">{{ elem(class_='form-check-input is-invalid ' + add_class, **kwargs) }}{{ elem.label }}</div>
        {% else %}
            <div class="form-check">{{ elem(class_='form-check-input ' + add_class, **kwargs) }}{{ elem.label }}</div>
        {% endif %}
        <div class="invalid-feedback">
            {% for error in elem.errors %}{{ error }}{% endfor %}
        </div>
    </div>
{%- endmacro %}


{% macro form_submit(elem, add_class='') -%}
    {{ elem(class_='btn btn-primary ' + add_class, **kwargs) }}
{%- endmacro %}


{% macro form_tags(elem) -%}
    {% do kwargs.update({'data-role': 'tagsinput'}) %}
    {{ form_field(elem, **kwargs) }}
{% endmacro %}


{# Renders pagination buttons for a pagination object and an endpoint. #}
{% macro show_pages(pagination, base_url) %}
<ul class="pagination">
    {% if pagination.has_prev %}
    <li class="page-item"><a class="page-link" href="{{ set_page_number(base_url, pagination.prev_num) }}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Previous</span></li>
    {% endif %}

    {% for page in pagination.iter_pages() %}
        {% if page %}
            <li class="page-item {% if page == pagination.page %}active{% endif %}"><a class="page-link" href="{{ set_page_number(base_url, page) }}">{{ page }}</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
    {% else %}
    <li class="page-item disabled"><span class="page-link">...</span></li>
    {% endfor %}

    {% if pagination.has_next %}
    <li class="page-item"><a class="page-link" href="{{ set_page_number(base_url, pagination.next_num) }}">Next</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
</ul>
{% endmacro %}


{# Loads a form into a modal using jQuery. Must be placed in the $(document).ready() handler. #}
{% macro dynamic_form(button_id, modal_id, form_endpoint, form_id, submit_id) %}
$('#' + '{{ button_id }}').click(function() {
    $.get('{{ form_endpoint }}', function(data) {
        $('#' + '{{ modal_id }}' + ' .modal-content').html(data);
        $('#' + '{{ modal_id }}' + ' .modal-content input[data-role=tagsinput], select[multiple][data-role=tagsinput]').tagsinput();
        $('#' + '{{ modal_id }}').modal('show')

        $('#' + '{{ submit_id }}').click(function(event) {
            event.preventDefault();
            $.post('{{ form_endpoint }}', data=$('#' + '{{ form_id }}').serialize(), function(data) {
                if (data.status == 'ok') {
                    $('#' + '{{ modal_id }}').modal('hide');
                    location.reload();
                } else {
                    $('#' + '{{ modal_id }}' + ' .modal-content').html(data)
                    $('#' + '{{ modal_id }}' + ' .modal-content input[data-role=tagsinput], select[multiple][data-role=tagsinput]').tagsinput();
                }
            });
        });
    });
});
{% endmacro %}


{# An external link, opens in a new tab and includes a little icon. #}
{% macro external_link(href, label=None) %}
    <a target="_blank" href="{{ href }}">{% if label %}{{ label }} {% endif %}<i class="fa fa-external-link"></i></a>
{% endmacro %}


{# Render tags #}
{% macro render_tags(tags) %}
    {% for tag in tags %}
        <span class="badge badge-primary">{{ tag }}</span>
    {% endfor %}
{% endmacro %}


{# Render a short summary of a Product, suitable for use in a table cell. #}
{% macro small_product_summary(product) %}
    <div class="img-thumbnail img-frame product-thumbnail float-left mr-2">
        <img class="framed-img" src="{{ product.image_url }}">
    </div>
    <b>
        <a href="{{ url_for('product_details', product_id=product.id) }}">
            {{ product.title }}
        </a>
        <a href="{{ product.detail_url }}">
            <span data-feather="external-link"></span>
        </a>
    </b>
    {% if product.tags %}
        {{ render_tags(product.tags) }}
    {% endif %}
    {% if 'vendor' in kwargs %}
        <b><a href="{{ url_for('vendor_details', vendor_id=product.vendor_id) }}">{{ product.vendor.name }}</a></b>
    {% endif %}
    {% if 'sku' in kwargs %}
        {{ product.sku }}
    {% endif %}
    {% if 'price' in kwargs %}
        <b>Price/Quantity: </b>{{ as_money(product.price) }} / {{ product.quantity }}
        {% if product.quantity_desc %}
            ({{ product.quantity_desc }})
        {% endif %}
    {% endif %}<br>
    {% if 'market_fees' in kwargs %}
        <b>Market fees: </b>{{ as_money(product.market_fees) }},
    {% endif %}
    {% if 'shipping' in kwargs %}
        <b>Shipping: </b>{{ as_percent(product.vendor.ship_rate) }}
    {% endif %}
{% endmacro %}


{# Render a table of Opportunities. #}
{% macro opp_table(opps) %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Supplier</th>
                <th scope="col">Match %</th>
                <th scope="col">Market</th>
                <th scope="col">Rank</th>
                <th scope="col">Sale Price</th>
                <th scope="col">COGS</th>
                <th scope="col">Profit</th>
                <th scope="col">Margin</th>
                <th scope="col">ROI</th>
            </tr>
        </thead>
        <tbody>
            {% for opp in opps %}
                <tr>
                    <td><b>{{ opp.id }}</b></td>
                    <td>
                        <div class="img-thumbnail img-frame product-thumbnail float-left mr-2">
                            <img src="{{ opp.supply.image_url }}" style="max-width: 100%; max-height: 100%">
                        </div>
                        <b><a href="{{ url_for('product_details', product_id=opp.supply_id) }}">{{ opp.supply.title }}</a></b>
                        {{ external_link(opp.supply.detail_url) }}
                        {{ render_tags(opp.supply.tags) }}<br>
                        <b>{{ opp.supply.vendor.name }}</b> #{{ opp.supply.sku }} <b>Price/Quantity: </b>{{ as_money(opp.supply.price) }} / {{ opp.supply.quantity }}<br>
                        <b>Shipping: </b>{{ as_percent(opp.supply.vendor.ship_rate) }}
                    </td>
                    <td>{{ as_percent(opp.similarity) }}</td>
                    <td>
                        <div class="img-thumbnail img-frame product-thumbnail float-left mr-2">
                            <img src="{{ opp.market.image_url }}" style="max-width: 100%; max-height: 100%">
                        </div>
                        <b><a href="{{ url_for('product_details', product_id=opp.market_id) }}">{{ opp.market.title }}</a></b>
                        {{ external_link(opp.market.detail_url) }}
                        {{ render_tags(opp.market.tags) }}<br>
                        {{ opp.market.vendor.name }} {{ opp.market.sku }}, {{ as_money(opp.market.price) }} / {{ opp.market.quantity }}<br>
                        Market fees: {{ as_money(opp.market.market_fees) }}
                    </td>
                    <td>{{ as_quantity(opp.market.rank) }}</td>
                    <td>{{ as_money(opp.market.price) }}</td>
                    <td>{{ as_money(opp.cogs) }}</td>
                    <td>{{ as_money(opp.profit) }}</td>
                    <td>{{ as_percent(opp.margin) }}</td>
                    <td>{{ as_percent(opp.roi) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}


{# Sidebar utilities #}
{% macro sidebar_heading(text, icon=None, href='#') %}
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>{{ text }}</span>
        {% if icon %}
            <a class="text-muted" href="{{ href }}">
                <span data-feather="{{ icon }}"></span>
            </a>
        {% endif %}
    </h6>
{% endmacro %}