{% extends "secondary_base.html" %}


{% block scripts %}
    {{ super() }}
    <script>
        function hideSelectedOpps(reason) {
            var selected = $('.opportunitySelector:checked').map(function() {return $(this).val()}).get();
            var hide = confirm('Are you sure you want to hide these opportunities?');
            if (hide) {
                selected.forEach(function(id) {
                    $.ajax('/api/opportunity/' + id, {
                        type: 'POST',
                        data: JSON.stringify({hidden: reason}),
                        contentType: 'application/json',
                    })
                });

                location.reload();
            }
        }
    </script>
{% endblock %}


{% block navbar %}
    {% set active_tab = 'opportunities' %}
    {% include 'navbar.html' %}
{% endblock %}


{% block document_tools %}
    <div class="btn-group btn-group-sm" role="group">
        <button id="saveSearchBtn" class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#saveSearchDlg">
            Save
        </button>
    </div>
{% endblock %}


{% block content %}
    {% if total_opps %}
        <form class="col-lg col-xl-6 mb-5" action="" method="get">
            {{ macros.form_field(form.query) }}
            {{ macros.form_tags(form.tags) }}
            <div class="form-row">
                <div class="col">
                    {{ macros.form_field(form.max_cogs, prepend='$') }}
                </div>
                <div class="col">
                    {{ macros.form_field(form.min_profit, prepend='$') }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ macros.form_field(form.min_roi, append='%') }}
                </div>
                <div class="col">
                    {{ macros.form_field(form.min_similarity, append='%') }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ macros.form_field(form.min_rank) }}
                </div>
                <div class="col">
                    {{ macros.form_field(form.max_rank) }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ macros.form_field(form.sort_by) }}
                </div>
                <div class="col">
                    {{ macros.form_field(form.sort_order) }}
                </div>
            </div>
            <div class="form-row pull-right">
                <div class="col">
                    {{ macros.form_submit(form.submit) }}
                </div>
            </div>
        </form>

        <div class="title-section">
            <span class="subtitle mr-auto">{{ as_quantity(opps.total) }} total opportunities:</span>
            <div class="btn-group btn-group-sm mr-3" role="group">
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                        <span data-feather="settings"></span>
                        Action on selected
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item">Tags...</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:hideSelectedOpps('hidden');">Hide</a>
                        <a class="dropdown-item" href="javascript:hideSelectedOpps('invalid');">Bad match</a>
                    </div>
                </div>
            </div>
            {{ macros.show_pages(opps, request.full_path) }}
        </div>

        {{ macros.opps_table(opps.items) }}
        <div class="d-flex flex-row justify-content-end mt-3 w-100">
            <div class="btn-group btn-group-sm mr-3" role="group">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                    <span data-feather="settings"></span>
                    Action on selected
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item">Tags...</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:hideSelectedOpps('hidden');">Hide</a>
                    <a class="dropdown-item" href="javascript:hideSelectedOpps('invalid');">Bad match</a>
                </div>
            </div>
            {{ macros.show_pages(opps, request.full_path) }}
        </div>
    {% else %}
        There are no opportunities in the database.
    {% endif %}
{% endblock %}
