{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
{% endblock %}


{% block navbar %}
    {% set active_tab = 'opportunities' %}
    {% include 'navbar.html' %}
{% endblock %}


{% block subnav_contents %}
    <ul class="navbar-nav">
        <li class="navbar-brand">Opportunities</li>
        <li class="nav-item">
            <button id="newOpportunityBtn" type="button" class="btn btn-primary" data-toggle="modal">New</button>
        </li>
    </ul>
{% endblock %}


{% block content %}
    <div class="container-fluid mt-3">
        <div class="row justify-content-start">
            <div class="col-2">
                <form action="" method="get">
                    {{ macros.form_field(form.query) }}
                    {{ macros.form_tags(form.tags) }}
                    <div class="form-row">
                        <div class="col">
                            {{ macros.form_field(form.max_cogs, prepend='$') }}
                        </div>
                        <div class="col">
                            {{ macros.form_field(form.min_profit, prepend='$') }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            {{ macros.form_field(form.min_roi, append='%') }}
                        </div>
                        <div class="col">
                            {{ macros.form_field(form.min_similarity, append='%') }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            {{ macros.form_field(form.min_rank) }}
                        </div>
                        <div class="col">
                            {{ macros.form_field(form.max_rank) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            {{ macros.form_field(form.sort_by) }}
                        </div>
                        <div class="col">
                            {{ macros.form_field(form.sort_order) }}
                        </div>
                    </div>
                    <div class="form-row pull-right">
                        <div class="col">
                            {{ macros.form_submit(form.submit) }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-start mt-5">
            <div class="col">
                Showing {{ as_quantity(opps_page.total) }} results:
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                {{ macros.opp_table(opps_page.items) }}
                {{ macros.show_pages(opps_page, request.full_path) }}
            </div>
        </div>
    </div>
{% endblock %}
