{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
    <script>
        $(document).ready(function() {
            {{ macros.dynamic_form('editProductBtn', 'editProductDialog', url_for('edit_product_form', product_id=product.id), 'productForm', 'productFormSubmit') }}

            $('#deleteProductBtn').click(function() {
                var del = confirm('Are you sure you want to delete this product?')
                if (del == true) {
                    $.post('{{ url_for('delete_product') }}', data={product_id: {{ product.id }} }, function() {
                        location.assign('{{ url_for('products') }}');
                    });
                };
            });
        });

        var timeFormat = "MMM Do dd YY H:mm";

        function newDateString(month, day, year, hours, minutes, seconds) {
            return moment().month(month).day(day).year(year).hour(hours).minute(minutes).second(seconds).format(timeFormat)
        }

        var ctx = document.getElementById("chart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for hist in history %}newDateString({{ hist.timestamp.month }}, {{ hist.timestamp.day }}, {{ hist.timestamp.year }}, {{ hist.timestamp.time().hour }}, {{ hist.timestamp.time().minute }}, {{ hist.timestamp.time().second }}),{% endfor %}],
                datasets: [
                    {
                        label: 'Rank',
                        yAxisID: 'rank',
                        data: [{% for hist in history %}{{ hist.rank }},{% endfor %}],
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        borderColor: 'rgba(0, 128, 255, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'Price',
                        yAxisID: 'price',
                        data: [{% for hist in history %}{{ hist.price }},{% endfor %}],
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        borderColor: 'rgba(0, 255, 128, 1)',
                        borderWidth: 1
                    }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    yAxes: [
                        {
                            id: 'rank',
                            type: 'linear',
                            position: 'left',
                            ticks: {
                                beginAtZero:true
                            }
                        },
                        {
                            id: 'price',
                            type: 'linear',
                            position: 'right',
                            ticks: {beginAtZero: true}
                        }
                    ]
                }
            }
        });
    </script>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="editProductDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block navbar %}
    {% set active_tab = 'products' %}
    {% include 'navbar.html' %}
{% endblock %}

{% block subnav_contents %}
    <ul class="navbar-nav mr-auto">
        <li class="navbar-brand">{{ product.title }}</li>
        <li class="nav-item">
            <button id="editProductBtn" type="button" class="btn btn-primary">Edit</button>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary ml-2" href="{{ product.detail_url }}">Open...</a>
        </li>
    </ul>
    <ul class="navbar-nav navbar-right">
        <li class="nav-item">
            <button id="deleteProductBtn" type="button" class="btn btn-danger">Delete</button>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-3">
        <div class="row justify-content-start">
            <div class="col-3">
                <div class="img-thumbnail img-frame">
                    <img style="max-width: 100%; max-height: 100%;" src="{{ product.image_url }}">
                </div>
            </div>
            <div class="col-4">
                <table class="table mt-4">
                    <tbody>
                        <tr>
                            <th scope="row">Tags</th>
                            <td>
                                {% for tag in product.tags %}
                                    <span class="badge badge-primary">{{ tag }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Vendor/SKU</th>
                            <td>{{ product.vendor.name }} {{ product.sku }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Rank</th>
                            <td>{{ product.rank }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Price</th>
                            <td>{{ as_money(product.price) }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Quantity</th>
                            <td>{{ product.quantity }} ({{ product.quantity_desc }})</td>
                        </tr>
                        <tr>
                            <th scope="row">Brand/Model</th>
                            <td>{{ product.brand }} {{ product.model }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ product.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col border border-primary">
                <div class="chart-container border border-danger" style="position: relative; width: 95%; height: 95%">
                    <canvas class="border border-secondary" id="chart" style="width: 95%; height: 95%"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col mx-auto my-auto">
                {{ macros.opp_table(opps_page.items) }}
                {{ macros.show_pages(opps_page, url_for('product_details', product_id=product.id)) }}
            </div>
        </div>
    </div>
{% endblock %}