{% extends "toplevel_base.html" %}

{% block toplevel_content %}
<ul class="list-group">
    <li class="list-group-item"><strong>Total: </strong>{{ product_count }}</li>
    <li class="list-group-item"><button id="newProductBtn" type="button" class="btn btn-primary" data-toggle="modal">New Product</button></li>
</ul>
{% endblock %}

{% block table_content %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Vendor</th>
            <th scope="col">SKU</th>
            <th scope="col">Title</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for product in products.items %}
        <tr>
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.vendor.name }}</td>
            <td>{{ product.sku }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ as_money(product.price) }}</td>
            <td>
                <div class="dropdown">
                    <button id="actionDrop-{{ product.id }}" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="actionDrop-{{ product.id }}">
                        <a class="dropdown-item" target="_blank" href="{{ product.detail_url }}">Open...</a>
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item" href="#">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ macros.show_pages(products, 'products') }}
{% endblock %}