{% extends "base.html" %}

{% block content %}
<h1>New Quantity Map</h1>
<p>
    <form action="" method="post">
    {{ form.hidden_tag() }}
        <p>
            {{ form.text.label }}<br>
            {{ form.text(size=32) }}<br>
            {% for error in form.text.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity(size=32) }}<br>
            {% for error in form.quantity.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</p>
<p>
<table valign="top">
    {% for qmap in qmaps %}
    <tr>
        <td><b>Text:</b> {{ qmap.text }}</td>
        <td><b>Quantity:</b> {{ qmap.quantity }}</td>
        <td><a href="{{ url_for('edit_quantity_map', qmap_id=qmap.id) }}">Edit</a></td>
    </tr>
    {% else %}
    <tr>
        <td>No quantity maps to show.</td>
    </tr>
    {% endfor %}
</table>
</p>
{% endblock %}