{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            {{ macros.dynamic_form('newQuantityMapBtn', 'newQuantityMapDlg', url_for('new_quantity_map_form'), 'quantityMapForm', 'quantityMapFormSubmit') }}
        });

        function delete_qmap(qmap_id) {
            var del = confirm('Are you sure you want to delete this quanityt map?');
            if (del == true) {
                $.post('{{ url_for("delete_quantity_map") }}', data={qmap_id: qmap_id}, function() {
                    location.assign('{{ url_for('quantity_maps') }}');
                });
            };
        };

        function edit_qmap(url) {
            $.get(url, function(data) {
                $('#editQuantityMapDlg .modal-content').html(data);
                $('#editQuantityMapDlg').modal('show');

                $('#quantityMapFormSubmit').click(function(event) {
                    event.preventDefault();
                    $.post(url, data=$('#quantityMapForm').serialize(), function(data) {
                        if (data.status == 'ok') {
                            $('#editQuantityMapDlg').modal('hide');
                            location.reload();
                        } else {
                            $('#editQuantityMapDlg .modal-content').html(data);
                        }
                    });
                });
            });
        };
    </script>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="newQuantityMapDlg" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div class="modal fade" id="editQuantityMapDlg" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block navbar %}
    {% set active_tab = 'quantity_maps' %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <div class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <ul class="navbar-nav">
            <li class="navbar-brand">Quantity Maps</li>
            <li class="nav-item">
                <button id="newQuantityMapBtn" type="button" class="btn btn-primary" data-toggle="modal">New</button>
            </li>
        </ul>
    </div>
    <div class="container-fluid mt-3">
        <div class="row justify-content-start mt-5">
            <div class="col">
                Showing {{ count }} results:
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <table class="table table-striped table-bordered">
                    <thead>
                        <th scope="col">id</th>
                        <th scope="col">Text</th>
                        <th scope="col">Quantity</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for qmap in qmaps.items %}
                            <tr>
                                <th scope="row">{{ qmap.id }}</th>
                                <td>{{ qmap.text }}</td>
                                <td>{{ qmap.quantity }}</td>
                                <td>
                                    <button class="btn btn-primary" type="button" onclick="edit_qmap('{{ url_for('edit_quantity_map_form', qmap_id=qmap.id) }}')">Edit</button>
                                    <button class="btn btn-danger" type="button" onclick="delete_qmap({{ qmap.id }});">Delete</button>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">No quantity maps to show.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ macros.show_pages(qmaps, url_for('quantity_maps')) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block table_content %}

{% endblock %}