{% extends "base.html" %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $(window).resize(function(event) {
                var sidebar = $('.sidebar');

                var content = sidebar.text().trim();
                if (!content)
                    sidebar.hide()

                var width = $(this).width();
                if (width >= 768) {
                    $('.sidebar .collapse').collapse('show');
                } else {
                    $('.sidebar .collapse').collapse('hide');
                }
            });

            $(window).resize();
        });
    </script>
{% endblock %}

{% block base_content %}
    {{ super() }}
    <div class="container-fluid">
        <!-- Document title and tools -->
        <div class="title-section">
            <span class="title">{{ title }}</span>
            <div class="btn-toolbar d-flex flex-nowrap">
                {% block document_tools %}
                {% endblock %}
            </div>
        </div>
        <!-- Document content -->
        {% block content %}{% endblock %}

        <div class="w-100 mt-5"></div>
    </div>
{% endblock %}