.img-frame {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.framed-img {
    max-width: 100%;
    max-height: 100%;
}

.product-thumbnail {
    width: 6rem;
    height: 6rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sidebar {
    font-size: .875rem;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .1);
    overflow-x: hidden;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .sidebar {
        height: 100vh;
    }
}

.sidebar-size {
    min-width: 15rem;
    max-width: 25rem;
}

.sidebar-button {
    width: 100%;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link .active {
    color: #007bff;
    font-weight: 800;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.tags {
    display: block;
}

.tags .bootstrap-tagsinput {
    min-width: 100% !important;
    max-width: 100% !important;
}